

@import '../../../src/components/theme/index.less';
@theme-namespace:b_theme;
@theme_color:#f25d8e;

.@{theme-namespace}{
    .demo-grid .xz-col:nth-child(2n) .demo-grid-inner
    {
        background:@theme_color_6;
    }
    .demo-grid .xz-col:nth-child(2n+1) .demo-grid-inner
    {
        background:@theme_color_4;
    }
    .demo-tablelayout .xz-tablelayout-cell:nth-child(2n)
    {
        background:@theme_color_6;
    }
    .demo-tablelayout .xz-tablelayout-cell:nth-child(2n+1)
    {
        background:@theme_color_4;
    }
    .doc-code-item:hover{
        border-color:@theme_color_2;
    }
    .doc-code-title .toggle{
        color:@theme_color;
    }
    .doc-code-title span{
        background-color:@theme_color_8;
    }
    .xz-doc-md code{
        background-color: @theme_color_3;
    }
    .xz-doc-md blockquote{
        border-color: @theme_color_8;
        background-color: tint(@theme_color, 96%);
    }
    .xz-doc-md blockquote:hover{
        border-color: @theme_color_6;
    }
    .xz-doc-md pre code, .xz-doc-md pre tt{
        background-color: transparent;
    }
}

@import '../../../src/components/theme/all.less';