@import '../theme/index.less';

.xz-input input{
    border:none;
    width:100%;
    border:1px solid @input_border_color;
    padding-left: 6px;
    border-radius: @input_borderradius;
}

.xz-input-mes{
    position: relative;
    padding-top:1px;
    color:red;
}
.xz-input input:hover,.xz-input input:focus {
    border:1px solid @theme_color;
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}
.xz-input-label-wrapper{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    color:@input_label_color;
}


.xz-input-size-default input{
    height: @input_default_height;
    line-height: 1.5;
    font-size: 13px;
}
.xz-input-size-default .xz-input-label-wrapper{
    line-height: @input_default_height;
}
.xz-input-default{
    overflow: hidden;
}