@import '../theme/index.less';

.xz-input input{
    border:none;
    width:100%;
    border:1px solid @input_border_color;
    padding-left: 6px;
    border-radius: @input_borderradius;
}

.xz-input-mes{
    position: relative;
    padding-top:1px;
    color:red;
}
.xz-input input:hover {
    border:1px solid @theme_color;
}
.xz-input input:focus {
    border:1px solid @theme_color;
}

.xz-input-size-default input{
    height: unit(unit(@input_default_height),px);
    line-height: 1.5;
    font-size: 13px;
}

.xz-input-default{
    overflow: hidden;
}