.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.placeholder(@color: @input-placeholder-color) {
  // Firefox
  &::-moz-placeholder {
    color: @color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: @color;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: @color;
  }
}
.size(@width; @height) {
  width: @width;
  height: @height;
}

.square(@size) {
  .size(@size; @size);
}

@xz-prefix: xz;
// mixins for grid system
// ------------------------
.make-row(@gutter: @grid-gutter-width) {
  margin-left: (@gutter / -2);
  margin-right: (@gutter / -2);
  height: auto;
  .clearfix;
}

.make-grid-columns() {
  .col(@index) {
    @item: ~".@{xz-prefix}-col-@{index}, .@{xz-prefix}-col-xs-@{index}, .@{xz-prefix}-col-sm-@{index}, .@{xz-prefix}-col-md-@{index}, .@{xz-prefix}-col-lg-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) {
    @item: ~".@{xz-prefix}-col-@{index}, .@{xz-prefix}-col-xs-@{index}, .@{xz-prefix}-col-sm-@{index}, .@{xz-prefix}-col-md-@{index}, .@{xz-prefix}-col-lg-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) {
    @{list} {
      // Prevent columns from collapsing when empty
      min-height: 1px;
      padding-left: (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .col(1);
}

.float-grid-columns(@class) {
  .col(@index) { // initial
    @item: ~".@{xz-prefix}-col@{class}-@{index}";
    .col((@index + 1), @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general
    @item: ~".@{xz-prefix}-col@{class}-@{index}";
    .col((@index + 1), ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      float: left;
      flex: 0 0 auto;
    }
  }
  .col(1); // kickstart it
}

// lesshint false
.loop-grid-columns(@index, @class) when (@index > 0) {
  .@{xz-prefix}-col@{class}-@{index} {
    display: block;
    box-sizing: border-box;
    width: percentage((@index / @grid-columns));
  }
  .@{xz-prefix}-col@{class}-push-@{index} {
    left: percentage((@index / @grid-columns));
  }
  .@{xz-prefix}-col@{class}-pull-@{index} {
    right: percentage((@index / @grid-columns));
  }
  .@{xz-prefix}-col@{class}-offset-@{index} {
    margin-left: percentage((@index / @grid-columns));
  }
  .@{xz-prefix}-col@{class}-order-@{index} {
    order: @index;
  }
  .loop-grid-columns((@index - 1), @class);
}

.loop-grid-columns(@index, @class) when (@index = 0) {
  .@{xz-prefix}-col@{class}-@{index} {
    display: none;
  }
  .@{xz-prefix}-col-push-@{index} {
    left: auto;
  }
  .@{xz-prefix}-col-pull-@{index} {
    right: auto;
  }
  .@{xz-prefix}-col@{class}-push-@{index} {
    left: auto;
  }
  .@{xz-prefix}-col@{class}-pull-@{index} {
    right: auto;
  }
  .@{xz-prefix}-col@{class}-offset-@{index} {
    margin-left: 0;
  }
  .@{xz-prefix}-col@{class}-order-@{index} {
    order: 0;
  }
}

.make-grid(@class: ~'') {
  .float-grid-columns(@class);
  .loop-grid-columns(@grid-columns, @class);
}


// Media queries breakpoints
// Extra small screen / phone
@screen-xs              : 480px;
@screen-xs-min          : @screen-xs;

// Small screen / tablet
@screen-sm              : 576px;
@screen-sm-min          : @screen-sm;

// Medium screen / desktop
@screen-md              : 768px;
@screen-md-min          : @screen-md;

// Large screen / wide desktop
@screen-lg              : 992px;
@screen-lg-min          : @screen-lg;

// Extra large screen / full hd
@screen-xl              : 1200px;
@screen-xl-min          : @screen-xl;

// Extra extra large screen / large descktop
@screen-xxl              : 1600px;
@screen-xxl-min          : @screen-xxl;

// provide a maximum
@screen-xs-max          : (@screen-sm-min - 1px);
@screen-sm-max          : (@screen-md-min - 1px);
@screen-md-max          : (@screen-lg-min - 1px);
@screen-lg-max          : (@screen-xl-min - 1px);
@screen-xl-max          : (@screen-xxl-min - 1px);

// Grid system
@grid-columns           : 24;
@grid-gutter-width      : 0;

// Grid system
.@{xz-prefix}-row {
  .make-row();
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

.@{xz-prefix}-row-flex {
  display: flex;
  flex-flow: row wrap;

  &:before,
  &:after {
    display: flex;
  }
}

// x轴原点
.@{xz-prefix}-row-flex-start {
  justify-content: flex-start;
}

// x轴居中
.@{xz-prefix}-row-flex-center {
  justify-content: center;
}

// x轴反方向
.@{xz-prefix}-row-flex-end {
  justify-content: flex-end;
}

// x轴平分
.@{xz-prefix}-row-flex-space-between {
  justify-content: space-between;
}

// x轴有间隔地平分
.@{xz-prefix}-row-flex-space-around {
  justify-content: space-around;
}

// 顶部对齐
.@{xz-prefix}-row-flex-top {
  align-items: flex-start;
}

// 居中对齐
.@{xz-prefix}-row-flex-middle {
  align-items: center;
}

// 底部对齐
.@{xz-prefix}-row-flex-bottom {
  align-items: flex-end;
}

.@{xz-prefix}-col {
  display: block;
}

.make-grid-columns();
.make-grid();

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(-xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(-sm);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(-md);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(-lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: @screen-xl-min) {
  .make-grid(-xl);
}

// Extra Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: @screen-xxl-min) {
  .make-grid(-xxl);
}