@import '../theme/index.less';

.xz-btn{
    outline: none;
    cursor: pointer;
    border-radius: @btn_border_radius;
}

.xz-btn-size-default{
    height:30px;
    padding-left: 10px;
    padding-right: 10px;
}

.xz-btn:active{
    background-color: #eee;
}

.xz-btn-type-default{
    color:#3d3d3d;
    border:1px solid @btn_default_border_color;
    background-color: #fff;
}

.xz-btn-type-primary{
    color:#fff;
    background-color:@theme_color;
    border:1px solid @theme_color;
}