@import '../theme/index.less';
.xz-menu{
    user-select:none;
}
.xz-menu>.xz-menu-item,.xz-menu>.xz-menu-group>.xz-menu-group-header{
    padding-left:8px !important;
}

.xz-menu-item,.xz-menu-group-header{
    height:40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    color:@menu_headertext_color;
}

.xz-menu-group .xz-menu-item{
    color:@menu_itemtext_color;
}
.xz-menu-section{
    overflow: hidden;   
    transition: height 0.2s ease;
}

.xz-menu-submenu-arrow {
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    position: absolute;
    top: 50%;
    right: 16px;
    width: 10px
}

.xz-menu-submenu-arrow:after,.xz-menu-submenu-arrow:before {
    content: "";
    position: absolute;
    vertical-align: baseline;
    background: #2c2c2c;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.65)),to(rgba(0,0,0,.65)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.65),rgba(0,0,0,.65));
    background-image: linear-gradient(90deg,rgba(0,0,0,.65),rgba(0,0,0,.65));
    width: 6px;
    height: 1.5px;
    border-radius: 2px;
    -webkit-transition: background .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1)
}

.xz-menu-submenu-arrow-right:before{
    transform: rotate(45deg) translateY(-2px);
    -ms-transform: rotate(45deg) translateY(-2px);
}

.xz-menu-submenu-arrow-right:after {
    transform: rotate(-45deg) translateY(2px);
    -ms-transform: rotate(-45deg) translateY(2px);
}

.xz-menu-group-header-close .xz-menu-submenu-arrow:after{
    transform: rotate(45deg) translateX(-2px);
    -ms-transform: rotate(45deg) translateX(-2px);
}

.xz-menu-group-header-close .xz-menu-submenu-arrow:before {
    transform: rotate(-45deg) translateX(2px);
    -ms-transform: rotate(-45deg) translateX(2px);
}

.xz-menu-group-header-open .xz-menu-submenu-arrow:after{
    transform: rotate(-45deg) translateX(-2px);
    -ms-transform: rotate(-45deg) translateX(-2px);
}

.xz-menu-group-header-open .xz-menu-submenu-arrow:before {
    transform: rotate(45deg) translateX(2px); 
    -ms-transform: rotate(45deg) translateX(2px); 
}


.xz-menu-vertical{
    width:140px;
}
.xz-menu-vertical-mini{
    width: 50px;
    min-height: 1px;
}

.xz-menu-item:hover{
    background-color: @menu_item_hover_background;
    color: @menu_item_hover_color;
}

.xz-menu-icon{
    margin-right: 4px;
}
 
.xz-menu-item-selected{
    background-color: @menu_item_selected_background !important;
    color: @menu_item_selected_color !important;;
}