@import '../theme/index.less';
.xz-menu{
    user-select:none;
}

.xz-menu-item,.xz-menu-section-header{
    height:40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    white-space:nowrap;
    font-size: 14px;
    color:@menu_headertext_color;
}

.xz-menu-group-title{
    height:40px;
    line-height: 40px;
    font-size: 13px;
    color:#848484;
}

.xz-menu-section .xz-menu-item{
    color:@menu_itemtext_color;
}
.xz-menu-section-items-wrapper{
    overflow: hidden;   
    transition: height 0.2s ease;
}

.xz-menu-submenu-arrow {
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    position: absolute;
    top: 50%;
    right: 16px;
    width: 10px
}

.xz-menu-submenu-arrow:after,.xz-menu-submenu-arrow:before {
    content: "";
    position: absolute;
    vertical-align: baseline;
    background: #2c2c2c;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.65)),to(rgba(0,0,0,.65)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.65),rgba(0,0,0,.65));
    background-image: linear-gradient(90deg,rgba(0,0,0,.65),rgba(0,0,0,.65));
    width: 6px;
    height: 1.5px;
    border-radius: 2px;
    -webkit-transition: background .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1);
    transition: background .3s cubic-bezier(.645,.045,.355,1),transform .3s cubic-bezier(.645,.045,.355,1),top .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1)
}

.xz-menu-submenu-arrow-right:before{
    transform: rotate(45deg) translateY(-2px);
    -ms-transform: rotate(45deg) translateY(-2px);
}

.xz-menu-submenu-arrow-right:after {
    transform: rotate(-45deg) translateY(2px);
    -ms-transform: rotate(-45deg) translateY(2px);
}

.xz-menu-section-header-close .xz-menu-submenu-arrow:after{
    transform: rotate(45deg) translateX(-2px);
    -ms-transform: rotate(45deg) translateX(-2px);
}

.xz-menu-section-header-close .xz-menu-submenu-arrow:before {
    transform: rotate(-45deg) translateX(2px);
    -ms-transform: rotate(-45deg) translateX(2px);
}

.xz-menu-section-header-open .xz-menu-submenu-arrow:after{
    transform: rotate(-45deg) translateX(-2px);
    -ms-transform: rotate(-45deg) translateX(-2px);
}

.xz-menu-section-header-open .xz-menu-submenu-arrow:before {
    transform: rotate(45deg) translateX(2px); 
    -ms-transform: rotate(45deg) translateX(2px); 
}


.xz-menu-vertical{
    width:140px;
}
.xz-menu-mini{
    width: 50px;
    min-height: 1px;
}

.xz-menu-item:hover,.xz-menu-root-labelitem:hover,.xz-menu-root-item:hover{
    background-color: @menu_item_hover_background;
    color: @menu_item_hover_color;
}

.xz-menu-icon{
    margin-right: 8px;
}
 
.xz-menu-item-selected{
    background-color: @menu_item_selected_background !important;
    color: @menu_item_selected_color !important;;
}

.xz-menu-mini .xz-menu-root-item{
    text-align: center;
    height:45px;
    cursor: pointer;
    line-height: 45px;
}
.xz-menu-mini .xz-menu-root-labelitem{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    cursor: pointer;
}


.xz-menu-mini .xz-root-item-icon{
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center;
    -ms-transform: scale(1.2);
    -ms-transform-origin: center;
}

.xz-root-item-label{
    font-size: 12px;
    white-space: nowrap;  
    text-overflow:ellipsis; 
    overflow:hidden;
    text-align: center;
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    margin-top: 3px;
}