@import '../../theme/index.less';
.xz-menu{
    width: 120px;
    background-color: @theme_background;
    .item{
        height:30px;
    }
    .section{
        overflow: hidden;   
        transition: height 0.2s ease;
    }
}
