.home-top{
    position: relative;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

.home-top .xz-image{
    position: relative;
    z-index: 1;
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);
    transition:top .5s ease, filter .5s ease;
    top:0;
}
.home-top .title-content{
    position: relative;
    top: -23px;
    font-family: Impact, Charcoal, sans-serif;
}

.home-top .main-title{
    font-size: 68px;
}
.home-top .sub-title{
    font-size:14px;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    color: gray;
}

.home-top:hover .xz-image{
    top: -8px;
    filter: blur(1px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1, MakeShadow=false);
}

.home-body{
    background-color: #f2f2f9;
}
.top-tabs{
    border-bottom: 1px solid #eee;
}

.top-tabs .xz-tabs-item{
    line-height: 60px;
}

.home-body .class-card{
    height: 240px;
}

.top-tabs .xz-tabs-indicator{
    top:0;
}
.feature-warpper{
    height:250px;
    background-color: #1a80de;
    color:#fff;
    padding: 40px 80px;
    position: relative;
}
.right-tri-bk{
    width: 0;
    height: 0;
    border-top: 250px solid transparent;
    border-right: 350px solid #fff;
    border-left: 150px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.feature-title{
    font-size: 27px;
    margin-top:10px;
    width:80%;
    font-family: Impact, Charcoal, sans-serif;
    transition: transform .3s ease;
    transform-origin: center center;
}

.feature-warpper:hover .feature-title{
    transform: scale(1.05);
}

.feature-desc{
    display: inline-block;
    width: 50%;
    margin-top: 30px;
    color:#f3f3f3;
    line-height: 1.6;
    font-size: 14px;
}

.bw.feature-warpper{
    background-color: #fff;
}

.bw .right-tri-bk{
    border-right-color: #1a80de;
}
.bw .feature-title{
    color: #000;
}
.bw .feature-desc{
    color: #333;
}
.footer{
    height:200px;
    background-color: #383838;
}
