.mobile-top{
    position: relative;
    overflow: hidden;
    user-select: none;
    height: 425px;
}

.mobile-top-wrapper{
    position: absolute;
    z-index: 2;
    padding:80px 100px;
    top:0;
    left:0;
    width: 100%;
    color: #fff;
    height: 100%;
}

.mobile-top-title{
    font-size: 68px;
    font-family: Impact, Charcoal, sans-serif;
}

.mobile-top-desc{
    font-size:16px;
    line-height: 2;
    background-color: #fff;
    color:#000;
    opacity: 0.75;
    filter:alpha(opacity=75);
    border-radius: 10px;
    padding: 20px;
    width:60%;
    margin-top:20px;
}