@import '../theme/index.less';

.xz-select{
    width:100%;
    border:1px solid @input_border_color;
    padding-left: 6px;
    border-radius: @input_borderradius;
}
.xz-select-size-default{
    height: @input_default_height;
    line-height: 2;
    font-size: 13px;
}

.xz-select .placeholder{
    color:@placeholder;
}

.xz-select-dropdown{
    border: 1px solid @input_border_color;
    border-radius: 2px;
}

.xz-select-item{
    padding-left: 10px;
    cursor: pointer;
}
.xz-select-item:hover{
    background-color: @select_hover_background_color;
    color:#fff;
}
.xz-select-item-size-default{
    height:30px;
    line-height: 30px;
}