@import '../theme/index.less';

.@{theme-namespace}{
    .xz-select{
        width:100%;
        border:1px solid @input_border_color;
        padding-left: 6px;
        outline: none;
        border-radius: @input_borderradius;
        position: relative;
        cursor: pointer;
    }
    .xz-select:hover,.xz-select-open{
        border:1px solid @theme_color;
    }
    .xz-select-arrow{
        position: absolute;
        right: 10px;
        top:50%;
        transition: transform .3s ease;
    }
    .xz-select-arrow .xz-icon{
        font-size: 12px;
    }
    .xz-select-arrow-up{
        transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
    }
    .xz-select-arrow-down{
        transform: translateY(-50%) rotate(0);
        -ms-transform: translateY(-50%) rotate(0);
    }
    .xz-select-size-default{
        line-height: @theme_default_height;
        font-size: 13px;
    }
    .xz-select-size-sm{
        line-height: @theme_sm_height;
        font-size: 12px;
    }
    .xz-select-size-lg{
        line-height: @theme_lg_height;
        font-size: 14px;
    }
    .xz-select-value{

    }
    .xz-select .placeholder{
        color:@placeholder;
    }

    .xz-select-nodata{
        color:#aaa;
        padding: 5px;
    }

    .xz-select-dropdown{
        border: 1px solid @select_dropdown_bordercolor;
        border-radius: 2px;
        background-color: #fff;
        box-shadow:1px 1px 3px rgba(0,0,0,.1);
    }


    .xz-select-item{
        color:@theme_text_color;
    }
    .xz-select-item-1{
        padding-left: 10px;
        cursor: pointer;
    }
    .xz-select-item-2{
        padding-left: 20px;
        cursor: pointer;
    }
    .xz-select-item:hover{
        background-color: @select_hover_background_color;
    }
    .xz-select-item-selected{
        background-color: @select_selected_background_color !important;
        color:#fff;
    }
    .xz-select-item-size-default{
        padding-top:6px;
        padding-bottom: 6px;
    }
    .xz-select-item-size-sm{
        padding-top:4px;
        padding-bottom: 4px;
    }
    .xz-select-groupheader{
        padding-left: 10px;
        padding-top:6px;
        padding-bottom: 6px;
        color:gray;
    }
}