@import '../theme/index.less';
.xz-popview-content{
    position: fixed;
    z-Index:@popview_dp_zindex;
    background-color:#fff;
}

.xz-pop-animate-bottom{
    animation:xzpopanimatebottom .15s cubic-bezier(.23,1,.32,1);
    transform: scaleY(1);
    opacity: 1;transform-origin: 0 0;
    visibility: visible;
}
@keyframes xzpopanimatebottom
{
    from { transform: scaleY(.8);opacity: 0;}
    to { transform: scaleY(1);opacity: 1;}
}

.xz-pop-animate-bottom-hide{
    animation:xzpopanimatebottomhide .15s cubic-bezier(.755,.05,.855,.06);
    transform: scaleY(.8);
    transform-origin: 0 0;
    opacity: 0;
}
@keyframes xzpopanimatebottomhide
{
    from {transform: scaleY(1);opacity: 1;}
    to {transform: scaleY(.8);opacity: 0;}
}