@import '../theme/index.less';


.xz-formitem-label-wrapper{
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    color:@input_label_color;
    padding-right: 10px;
}
.xz-formitem-size-default .xz-formitem-label-wrapper{
    line-height: @input_default_height;
}
