@theme_background: #f2f3f4;
@theme_color:#1890ff;
@theme_selected_color:#e6f7ff;
@theme_bordercolor:#d9d9d9;
@theme_textcolor:#d9d9d9;
@menu_item_height:22px;
@menu_item_selected_background:@theme_selected_color;

@btn_border_radius:4px;
@modal_zindex:1000;
@message_zindex:1001;

