.xz-table{
    border-collapse: collapse;
}

.xz-table thead th,.xz-table tbody td{
    border: 1px solid #eee;
    padding-top:5px;
    padding-bottom: 5px;
    font-weight: normal;
}

// .xz-table tbody tr td:last-child,.xz-table thead tr th:last-child{
    
// }
.xz-table-inner-wrapper{
    border-top:1px solid #eee; 
    display: inline-block;
}