.xz-table{
    border-collapse: collapse;
    background-color: #fff;
}
.xz-table-outer-wrapper{
    overflow:hidden;
    position: relative;
    height: 100%;
}
.xz-table-inner-wrapper{
    border-top:1px solid #eee; 
    height: 100%;
    position: relative;
    overflow:auto;
}
.xz-table-outer-fixedleft .xz-table-inner-wrapper,.xz-table-outer-fixedright .xz-table-inner-wrapper{
    margin-right:-20px;
    padding-right:20px;
}

.xz-table thead th,.xz-table tbody td{
    border: 1px solid #eee;
    font-weight: normal;
    
}
.xz-table thead th .xz-table-cell-inner,.xz-table tbody td .xz-table-cell-inner{
   height: 30px;
}


// .xz-table tbody tr td:last-child,.xz-table thead tr th:last-child{
    
// }
