*{
	margin:0;
	padding:0;
	flex-shrink: 0;
	box-sizing: border-box;
}
body{
	font-size:.4rem;
}
html{
  overflow: auto;
}
html,body{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width:100%;
  height:100%;
}
.xz-page-base-page{
  background-color:#fff;
}
input,textarea{
  outline:none
}
ul,li{
  margin:0;
  padding:0;
  list-style:none;
}
.xz-app-wrapper{
  position:relative;
  width:100%;
  height:100%;
}

#xz-lightapp-root{
   position:relative;
  width:100%;
  height:100%;
}

.xz-pfull{
  position:relative;
  width:100%;
}
.xz-pfull > div:first-child{
  position:relative;
}

.xz-page-inner{
  position:relative;
  overflow:hidden;
  height:100%;
  width:100%;
}

.full-screen{
  width:100%;
  height: 100%;
  position: relative;
}


.xz-page-base-page{
  width:100%;
  height: 100%;
  position: relative;
}

body{
  font-size:13px;
}


.xz-page-out-wrapper,.xz-page-route-wrapper{
  width:100%;
  position: absolute;
  left:0;
  top:0;
}

.displaynone{
  display:none !important;
}

.xz-pageview
{
  height:100%;
  width:100%;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling:touch;
  display:flex;
  flex-direction:column;
}

.xz-root-container{
  position: relative;
  height:100%;
  width:100%;
}

.xz-drawer-page-wrapper{
  position: relative;
  height:100%;
  width:100%;
  overflow: hidden;
}
.xz-tab-body-wapper
{
  position: relative;
  height:100%;
  width:100%;
}


.xz-close-icon {
  position: relative;
  display:block;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.xz-close-icon:hover {
  cursor: pointer;
}
.xz-close-icon::before, .xz-close-icon::after {
  content: '';
  position: absolute;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 12px;
  margin-top: -6px;
  background: #333;
}
.xz-close-icon::before {
  transform: rotate(45deg);
}
.xz-close-icon::after {
  transform: rotate(-45deg);
}



